@import "_reset.css";
/*  Color palette
    -----------------------
    color       HEX code  RGB code
    -------------------------------------
    red:      	#960001	  rgb(150,0,1)
    yellow:     #e2e55f	  rgb(226,229,95)
    green:      #96c25f	  rgb(150,194,95)
    blue:       #5582c6	  rgb(85,130,198)
    purple: 	  #79519f	  rgb(121,81,159) 

    fonts
    -----------------------
    headings:   Cabin
    body:       Roboto

    font-sizes:
    -----------------------
    h1:   70px
    h2:   36px
    h3    24px
    body: 17px (all other text)

    breakpoints
    -----------------------
    desktop: 1200px
    
    max-width of the content is 1400px
*/
body {
  background: #5582c6;
  font-size: 17px;
  color: #960001;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 36px;
  margin: 0;
}

h3 {
  font-size: 24px;
  padding-bottom: 3px;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Cabin", sans-serif;
}
p {
  color: white;
}
hr {
  border-top: 1px solid #96c25f;
}
a {
  color: #e2e55f;
  text-decoration: none;
}
.header {
  background-image: url(https://github.com/BrandonRivas/tech-challenge-toystory-4/blob/main/images/toystory4_wallpaper.jpg?raw=true);
  height: 600px;
  position: relative;
}
.poster_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 360px;
  left: 220px;
}

.title {
  display: flex;
  align-self: flex-end;
  margin-left: 20px;
  background-color: #d4f1f4;
  padding: 0 40px 2px 40px;
}
.poster {
  width: 350px;
}
.spacer {
  height: 300px;
}
.synopsis_container {
  margin-left: 220px;
  margin-right: 220px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.characters {
  margin-left: 220px;
  margin-right: 220px;
  margin-bottom: 15px;
}

.character_flex {
  display: flex;
  flex-wrap: wrap;
}
.character_container {
  width: 50%;
}
.space p:nth-of-type(2) {
  padding-right: 20px;
}
.image_card {
  width: 100px;
  padding-right: 10px;
  float: left;
}

.quote {
  background-color: #e2e55f;
  padding: 30px;
}
.quote_container {
  padding-left: 70px;
}
.woody_quote {
  color: #960001;
}

.woody_word {
  font-weight: bold;
}

.comments {
  margin-left: 220px;
  margin-right: 220px;
  margin-bottom: 15px;
}

#comment-box,
#post {
  border: none;
  width: 200px;
  height: 20px;
  margin: 5px;
}

.comment_button {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

#post {
  background-color: #5582c6;
  font-size: 15px;
  font-weight: bold;
  color: white;
  height: 35px;
  width: 204px;
}

#post:focus {
  background-color: #79519f;
}

#unordered {
  list-style-type: none;
  display: flex;
  justify-content: center;
  color: white;
}
