@import "_reset.css";
/*  Color palette
    -----------------------
    color       HEX code  RGB code
    -------------------------------------
    red:      	#960001	  rgb(150,0,1)
    yellow:     #e2e55f	  rgb(226,229,95)
    green:      #96c25f	  rgb(150,194,95)
    blue:       #5582c6	  rgb(85,130,198)
    purple: 	  #79519f	  rgb(121,81,159) 

    fonts
    -----------------------
    headings:   Cabin
    body:       Roboto

    font-sizes:
    -----------------------
    h1:   70px
    h2:   36px
    h3    24px
    body: 17px (all other text)

    breakpoints
    -----------------------
    desktop: 1200px
    
    max-width of the content is 1400px
*/
body {
  background: #5582c6;
  font-size: 17px;
  color: #960001;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h1,
h2,
h3 {
  font-family: "Cabin", sans-serif;
}
.header {
  background-image: url(https://github.com/BrandonRivas/tech-challenge-toystory-4/blob/main/images/toystory4_wallpaper.jpg?raw=true);
  height: 65vh;
  position: relative;
}
.poster_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 360px;
  left: 220px;
}

.title {
  display: flex;
  align-self: flex-end;
  padding-bottom: 180px;
  padding-left: 20px;
}
.poster {
  width: 350px;
}

.synopsis_container {
  padding-top: 60vh;
  margin-left: 220px;
  margin-right: 220px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.characters {
  margin-left: 220px;
  margin-right: 220px;
  margin-bottom: 15px;
}

.character_flex {
}
.character_card {
}
.image_card {
  width: 100px;
  padding-right: 15px;
  float: left;
}
